absl-py
aiohttp
aiosignal
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-timeout
attrs
backcall
beautifulsoup4
bleach
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
chatGPT @ git+https://github.com/mmabrouk/chatgpt-wrapper@b794c56b18bf3467617c2f82a9b60c1c4932a808
click
comm
dataclasses-json
debugpy
decorator
defusedxml
dlib
dnspython
email-validator
et-xmlfile
executing
fastjsonschema
Flask
flatbuffers
fqdn
frozenlist
gast
geojson
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna
imageio
imageio-ffmpeg
iniconfig
install
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jax
jedi
Jinja2
jmespath
jsonpointer
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
keras
langchain
libclang
Markdown
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib-inline
mdurl
meson
mistune
ml-dtypes
moviepy
multidict
mypy-extensions
names
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
oauthlib
openai
opencv-python
openpyxl
opt-einsum
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
playwright
pluggy
proglog
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pydantic
pyee
Pygments
pyowm
pyperclip
pyreadline3
pyrsistent
PySocks
pytest
pytest-base-url
pytest-playwright
python-dateutil
python-frontmatter
python-json-logger
python-slugify
PyYAML
pyzmq
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rsa
s3transfer
scipy
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
stack-data
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
text-unidecode
tiktoken
tinycss2
tornado
tqdm
traitlets
typing-inspect
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wrapt
yarl
